
.heading{
    position: fixed;
    background-color: burlywood;
    border: 2px solid burlywood;
    width: 1920px;
    height: 50px;
    padding-top: 10px;
    left: -1px;
    top: -23px;
}
.b1{
    position: relative;
    width: 450px;
    height: 450px;
    left: 550px;
    top: 120px;
    border: 1px solid grey;
    background-color: rgba(5, 191, 243, 0.5);
    box-shadow: 20px 20px 20px  rgba(16, 14, 21, 0.712);
    

}
.b2{
    position: absolute;
    top: 90px;
    left: 75px;

}
input:hover{
    background-color: lightyellow;
}
input{
    border-radius: 20px;
    width: 280px;
    height: 25px;
}
button{
    border-radius: 20px;
}
button:hover{
    background-color: grey;
    transform: scale(1.17);
}
